{% extends 'bbs/base.html' %}

{% block title %}
Ad: {{ ad.title|truncatewords:3 }}
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card m-2">
        <div class="card-header container">

          {% if pictures %}
          <div class="row justify-content-center">
            <div class="col-md-4">
          <div id="carouselExampleCaptions" class="carousel slide carousel-dark" style="max-height: 500px; max-width: 800px;overflow: hidden;">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              {% for pic in pictures %}

              {% if not forloop.first %}
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{forloop.counter0}}" aria-label="Slide {{forloop.counter}}"></button>
              {% endif %}
              {% endfor %}
              
              
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{ pictures.0.image.url }}" class="d-block w-100" alt="{{ pictures.0.image.caption }}">
              </div>

              {% for pic in pictures %}

              {% if not forloop.first %}
                <div class="carousel-item">
                  <img src="{{pic.image.url}}" class="d-block w-100" alt=".image.url">
                </div>
              {% endif %}
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

          {% endif %}

          <h3>{{ ad.title }}</h3>
          <p>Created: {{ ad.created|date:'d-m-Y H:s' }}</p>
          <div>
            Category: <span class="badge bg-info">{{ ad.get_category_display }}</span>
            <br>
            User: <span class="badge bg-info">{{ ad.user.username }}</span>
            <br>
          </div>
        </div>
        <div class="card-body">{{ ad.text }}</div>
        <div class="card-footer">
                {% if user == ad.user %}
                  <a class="btn btn-sm btn-outline-danger float-end m-2" href="{% url 'bbs:delete' ad.id %}" role="button">
                    <i class="bi bi-trash"></i>
                    Delete
                  </a>
                  <a class="btn btn-sm btn-outline-warning float-end m-2" href="{% url 'bbs:edit' ad.id %}" role="button">
                    <i class="bi bi-pencil"></i>
                    Edit
                  </a>
                {% elif user.is_authenticated %}
                <form method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input class="btn btn-sm btn-outline-primary float-end" type="submit" value="Respond"/>
                </form>
                {% endif %}

                <h4 class="m-2">Price: <span class="badge rounded-pill text-bg-warning">{{ ad.price }}</span></h4>
        </div>
      </div>
      {% if responses %}
        <h4 class="m-2">Responses:</h4>
      {% endif %}
      
      {% for resp in responses %}
        
          <div class="card m-2">
            <div class="card-body container">
                <div class="row">
                  <div class="col-9">
                    <h5 class="card-title">
                      <img class="img-fluid img-thumbnail rounded-circle" src="{{ resp.user.profile.avatar.url }}" width="25" />
                      {{resp.user}}
                    </h5>
                    <p class="card-text">{{resp.text|truncatewords:10}}</p>
                  </div>
                  {% if ad.user == user %}

                  
                  <div class="col-3">
                      <a class="btn btn-sm btn-outline-danger float-end m-2" href="{% url 'bbs:response_delete' resp.id %}" role="button">
                        <i class="bi bi-trash"></i>
                        Delete
                      </a>
                      <a class="btn btn-sm btn-outline-info float-end m-2" href="{% url 'bbs:response_accept' resp.id %}" role="button">
                        {% if resp.accepted %}
                          Reject
                        {% else %}
                          Accept
                        {% endif %}  
                        
                      </a>
                      <h2 class="m-1">
                      {% if resp.accepted %}
                        <i class="bi bi-check-square float-end"></i>
                      {% else %}
                        <i class="bi bi-square float-end"></i>
                      {% endif %}
                      </h2>
                  </div>
                 {% endif %}  
                 
              </div>
            </div>
          </div>
      {% empty %}
      <h4 class="m-2">No responses yet...</h4>
      {% endfor %}

{% endblock content %}
